---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Corinthians - Home">
  <section style="text-align:center; padding:60px;">
<h1 style="font-size:3rem; color:white;">⚫ Corinthians ⚪</h1>
    <p style="font-size:1.2rem; color:#333;">O Time do Povo, desde 1910</p>
  </section>
</Layout>
