---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sobre - Corinthians">
  <section style="text-align:center; padding:40px;">
    <h2>Sobre Nós</h2>
    <p>O Sport Club Corinthians Paulista foi fundado em 1910 e é um dos clubes mais populares do Brasil, conhecido como "O Time do Povo".</p>
  </section>
</Layout>
